


#navbar{
    background-color: #12121f;
}

#one{
    margin-top: 200px;
   margin-left: 30px;
}
#descrip{
    padding-left: 40px;
}
#img{
   padding-left: 150px;
}
#About{
padding-left: 50%;
padding-top: 100px;
}
#desc{
    padding-left: 70px;
}
#two{
    padding-right: 120px;
}
#skills{
    padding-left: 50%;
    padding-top:100px ;
}
#html{
    padding-top: 70px;
padding-left: 100px;
}
#css{
    padding-top: 70px;
    padding-left: 200px;
}
#bs{
    padding-top: 70px;
    padding-left: 300px;
}
#js{
    padding-top: 70px;
    padding-left: 400px;
}


